@{
    ViewBag.Title = "About";
}
<section id="about">
    <link rel="stylesheet" type="css" href="~/Views/Home/StyleSheet.css">
    <div class="container">
        <h2>Acerca de la Universidad ABC</h2>
        <p>La Universidad ABC es una institución educativa líder en la formación de profesionales en diversas áreas, con más de 50 años de trayectoria y excelencia académica. Contamos con un equipo docente altamente capacitado y una amplia oferta académica que incluye carreras en ingeniería, negocios, humanidades y más.</p>
        <p>Nuestro compromiso es brindar a nuestros estudiantes una educación de calidad que les permita desarrollar su potencial y alcanzar sus metas profesionales y personales. Además, fomentamos la investigación y la innovación para contribuir al desarrollo de la sociedad.</p>
    </div>
</section>
</main>